@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Work+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
	font-family: 'Work Sans', sans-serif;
	padding: 20px 20px 60px;
	max-width: 680px;
	margin: 0 auto;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #777;
}

.home-wrapper {
	top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
}

.home-title {
	font-size: 12vh;
	font-weight: 400;
	text-align: center;
	margin: 10px;
	font-family: 'Nothing You Could Do', cursive;
}

.pages-title {
	font-size: 30px;
}

.posts-title {
	font-size: 20px;
}

.posts-title:hover {
	cursor: pointer;
}

.posts-list {
	list-style: none;
}

.post-date {
	font-style: italic;
	font-size: 12px;
}

.nav {
	text-align: right;
	width: 100%;
	margin-bottom: 20px;
}

.nav-home {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.nav-link {
	padding-right: 1em;
	text-decoration: none;
	color: #3f6eba;
}

.logo {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.logo-wrapper {
	text-align: center;
}

.project-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

.tile {
	display: flex;
	background-color: white;
	padding: 10px;
	margin: 10px auto;
	border-radius: 20px;
	max-width: 80%;
	text-align: center;
	border: 0.16em solid #dbf4ff;
}

.tile:hover {
	background-color: #dbf4ff;
}

.links {
	text-decoration: none;
	color: #3e5bef;
	font-style: italic;
}

.tile-links {
	text-decoration: none;
	color: black;
}

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #dadada;
  border-radius: 2px / 4px;
}