@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,800;1,300;1,800&display=swap');

body {
	font-family: 'Work Sans', sans-serif;
	padding: 20px 20px 60px;
	max-width: 680px;
	margin: 0 auto;
}

.pages-title {
	font-size: 30px;
}

.posts-title {
	font-size: 20px;
	color: #3f6eba;
}

.posts-title:hover {
	cursor: pointer;
}

.posts-list {
	list-style: none;
}

.post-date {
	font-style: italic;
}

.nav {
	text-align: right;
	width: 100%;
	margin-bottom: 20px;
}

.nav-link {
	padding-right: 1em;
	text-decoration: none;
	color: #3f6eba;
}

.logo {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.project-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

.tile {
	display: flex;
	background-color: #c4edff;
	padding: 10px;
	margin: 10px auto;
	border-radius: 20px;
	max-width: 80%;
	text-align: center;
}

.tile:hover {
	background-color: #dbf4ff;
}

.links {
	text-decoration: none;
	color: #3e5bef;
	font-style: italic;
}

a {
	text-decoration: none;
	color: black;
}